<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>


    <%- include layouts/header.ejs %>
    <%- include layouts/main.ejs %>
    <%- include layouts/aside.ejs %>
    <%- include layouts/gallery.ejs %>
    <%- include layouts/footer.ejs %>


  </body>
</html>
